$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./../fonts" !default;

$iconclear: "\e901";
$iconcheck: "\e902";
$iconsearch: "\e903";
$iconarrow_drop_up: "\e904";
$iconarrow_drop_down: "\e905";
$iconstar-empty: "\e9d7";
$iconstar-full: "\e9d9";

