@mixin fontFace($name, $file, $weight, $style) {
  @font-face {
    font-family: $name;
    src: url('../fonts/#{$file}.eot');
    src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file}.woff2') format('woff2'),
    url('../fonts/#{$file}.woff') format('woff'),
    url('../fonts/#{$file}.ttf') format('truetype'),
    url('../fonts/#{$file}.svg##{$file}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin flex($align, $justify, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}