/* COLORS */
$black: #1A1B1D;
$white: #F0F1F5;

$dark-gray: #9194A5;
$gray: #B9BDCF;
$light-gray: #E0E2EA;

$light-blue: #4460F7;
$blue: #2140E8;

$yellow: #F9A52B;

/* FONT SIZES */
$nominal: 10px;
$large: 3rem;
$medium: 2.4rem;
$regular: 1.8rem;
$small: 1.4rem;

/* FONT WEIGHTS */
$semiBold: 600;

/* FONT FAMILY */
$nunito: "Nunito", sans-serif;